<h1>Contact List</h1>
<div class=" contact-list">
  <h3 class="underline font-bold">Contact Information</h3>
  @for (contact of contacts; track contact) {
    <div>
      <section class="contact">
        <div class="flex flex-row border-black border-b-4">
          <div class="flex-1 auto p-1 mt-2">{{ contact.firstName }}</div>
          <div class="flex-1 auto p-1 mt-2">{{ contact.lastName }}</div>
          <div class="flex-1 auto p-1 mt-2">{{ contact.birthday | date:'YYYY-mm-dd' }}</div>
          <div class="flex-none auto p-1 mt-2">
            <a href="#">Edit</a> |
            <a href="#">Delete</a> 
          </div>
        </div>
      </section>
    </div>
  }

</div>
